/* Mobile & tablet */

@media (max-width:1023px) {
    .hide{
        display: none !important;
    }
    .show{
        display: block;
    }
    .logo{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .header_nav{
        padding: 0 0.5rem;
    }
    .video-banner{
        width: 100%;
        height: 500px;
        /* margin: 3.5rem auto; */
        /* height: 100vh; */
        overflow: hidden;
    }
    .video-banner__video{
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    .slogan-content {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -20%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .slogan-content p{
        font-size: 1.4rem;
        color: white;
        font-weight: 600;
        text-align: center;
        margin: 0.2rem 0;
    }
    .trademark-order{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        margin-top: 2rem;
    }
    .order-top,
    .order-bottom{
        padding:0.5rem 0;
        text-align: center;
    }
    
    .order-top{
        font-size: 1.9rem;
        font-weight: 500;
    }
    .order-bottom{
        font-size: 2rem;
        font-weight: 500;
    }

















    .header-detail p{
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }
    .detail-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
        margin-top: 2rem;
    }
    .detacontent-left,
    .detacontent-right{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .one,
    .two{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 4rem;
        height: 4rem ;
        border-radius: 5rem;
        font-size: 1.6rem;
        margin: 0 0 1.2rem 0;
    }

    .header-detail{
        font-size: 1.3rem;
        text-align: center;
        margin: 0.2rem 0;
        font-weight: 400;
    }

    .left-img,
    .right-img {
        margin: 1.5rem 0;
    }
    .left-img img,
    .right-img img{
        width: 100%;
        /* height: auto; */
    }

    .product-classif{
        padding: 1rem;
    }
    .header-title-main{
        font-size: 2rem;
        text-align: center;
        font-weight: 500;
        margin: 1rem 0;
    }
    
    .header-title-sub{
        /* padding: 0 1rem; */
        font-size: 1rem;
        text-align: center;
        margin: 1.4rem 0;
        line-height: 1.5;
    }
    .list-product{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .product-main{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    .product-main img{
        width: 100%;
        height: 100%;
        /* inset: 0px; */
        object-fit: cover;
        border-radius: 0.8rem;
    }
    .title-product{
        font-size: 1   rem;
        font-weight: bold;
        margin: 1.5rem 0;
        color: var(--text-color);
    }
}

/* tablet */
@media (min-width:740px) and (max-width:1023px) {
  
    
}

/* Mobile */
@media (max-width:739px) {
    
}